In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from matplotlib.dates import DateFormatter

In [2]:
%ls

KPMG Task 1 - Customer Address .ipynb
KPMG Task 1 - Customer Demographic Table.ipynb
KPMG Task 1 - New Customers Table.ipynb
KPMG Task 1 - Transactions Table.ipynb
KPMG Task 1 Sample ANS .docx
KPMG Task 1.docx
KPMG_VI_New_raw_data_update_final.xlsx
Module_2_Template_slide.pptx
~$KPMG_VI_New_raw_data_update_final.xlsx

In [3]:
# Import Raw Data
data = pd.ExcelFile("KPMG_VI_New_raw_data_update_final.xlsx")

In [4]:
# Seperate Data by Sheets
CustomerAddress = pd.read_excel(data, 'CustomerAddress')

In [5]:
new_header = CustomerAddress.iloc[0]
CustomerAddress.columns = new_header
CustomerAddress = CustomerAddress.loc[1:]

In [6]:
CustomerAddress.head(3)

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,New South Wales,Australia,10
2,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9

In [7]:
CustomerAddress.shape

(3999, 6)

In [8]:
CustomerAddress.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3999 entries, 1 to 3999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   customer_id         3999 non-null   object
 1   address             3999 non-null   object
 2   postcode            3999 non-null   object
 3   state               3999 non-null   object
 4   country             3999 non-null   object
 5   property_valuation  3999 non-null   object
dtypes: object(6)
memory usage: 187.6+ KB

In [9]:
CustomerAddress.describe()

,customer_id,address,postcode,state,country,property_valuation
count,3999,3999,3999,3999,3999,3999
unique,3999,3996,873,5,1,12
top,1,3 Mariners Cove Terrace,2170,NSW,Australia,9
freq,1,2,31,2054,3999,647

In [10]:
# Count Duplicated Items
CustomerAddress.duplicated().sum()

0

In [11]:
# Count Unique Number of Items
CustomerAddress.nunique()

0
customer_id           3999
address               3996
postcode               873
state                    5
country                  1
property_valuation      12
dtype: int64

In [12]:
# Check for Missing Values for each Column
CustomerAddress.isnull().sum()

0
customer_id           0
address               0
postcode              0
state                 0
country               0
property_valuation    0
dtype: int64

In [13]:
index = ['state', 'property_valuation']

for item in index:
    print(CustomerAddress[item].value_counts())
    print('\n')

NSW                2054
VIC                 939
QLD                 838
New South Wales      86
Victoria             82
Name: state, dtype: int64


9     647
8     646
10    577
7     493
11    281
6     238
5     225
4     214
12    195
3     186
1     154
2     143
Name: property_valuation, dtype: int64

In [14]:
# Replace all differently formatted state names
CustomerAddress['state'].replace({'New South Wales' : 'NSW', 'Victoria' : 'VIC'}, inplace=True)

In [15]:
CustomerAddress['state'].value_counts()

NSW    2140
VIC    1021
QLD     838
Name: state, dtype: int64

In [16]:
CustomerAddress['country'].value_counts()

Australia    3999
Name: country, dtype: int64

In [17]:
CustomerAddress_Clean = CustomerAddress.dropna()

In [18]:
CustomerAddress_Clean.shape

(3999, 6)

In [19]:
CustomerAddress_Clean.head()

,customer_id,address,postcode,state,country,property_valuation
1,1,060 Morning Avenue,2016,NSW,Australia,10
2,2,6 Meadow Vale Court,2153,NSW,Australia,10
3,4,0 Holy Cross Court,4211,QLD,Australia,9
4,5,17979 Del Mar Point,2448,NSW,Australia,4
5,6,9 Oakridge Court,3216,VIC,Australia,9

In [20]:
#print to csv file after the cleaning
CustomerAddress_Clean.to_csv('./CustomerAddress_cleaned.csv', index = False)